<!-- All this area goes before </body> closing tag --> 
<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
<script>
    const SUPABASE_URL = 'https://tcokskeplxyrokjjusmm.supabase.co';
    const SUPABASE_ANON_KEY = 'eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InRjb2tza2VwbHh5cm9ramp1c21tIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTg4MTEzMDYsImV4cCI6MjA3NDM4NzMwNn0.qtXdDLfaTqUUBql4jTmLieYGOwzNHif-vEMdlAYCiso';
    const supabase = supabase.createClient(SUPABASE_URL, SUPABASE_ANON_KEY);
</script>

<!-- Modal Đăng nhập -->
<div class="modal fade" id="authModal" tabindex="-1" role="dialog" aria-labelledby="authModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content text-center">
      <div class="modal-header">
        <h5 class="modal-title" id="authModalLabel">Đăng nhập/Đăng ký để tải file</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Bạn cần đăng nhập để tải file này. Nếu đã có tài khoản, hãy <a href="/login">đăng nhập</a>. Nếu chưa, hãy <a href="/register">đăng ký</a> trước.</p>
      </div>
    </div>
  </div>
</div>


<!-- AddThis, replace this with your own code from https://www.addthis.com/ --> 
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5b15193f169714ca"></script>


<!-- Pinterest Script, nothing for you to replace here  --> 
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<!-- Cookie Consent, nothing for you to replace here. Remove it if you want  -->
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.css" />
<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.3/cookieconsent.min.js"></script>
<script>
window.addEventListener("load", function(){
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#eb6c44",
      "text": "#ffffff"
    },
    "button": {
      "background": "#f5d948"
    }
  },
  "position": "bottom-left",
  "content": {
    "href": "{{site.url}}{{site.baseurl}}/privacy-policy.html"
  }
})});
</script>