<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
	<script src="https://cdn.jsdelivr.net/npm/@supabase/supabase-js"></script>
    <link rel="stylesheet" href="{{ '/assets/css/auth-modal.css' | relative_url }}">
    <script src="{{ '/assets/js/config.supabase.js' | relative_url }}"></script>
    <!--script type="module" src="{{ '/assets/js/auth-modal.js' | relative_url }}"></script>
    <script type="module" src="/assets/js/sb-client.js"></script-->

    <!-- Tải CSS riêng cho trang pricing -->
  	{% if page.permalink == '/pricing/' %}
  	  <link rel="stylesheet" href="{{ '/assets/css/pricing.css' | relative_url }}">
  	  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  	{% endif %}
  	{% if page.permalink == '/thankyou/' %}
  	  <link rel="stylesheet" href="{{ '/assets/css/thankyou.css' | relative_url }}">
  	{% endif %}
  	{% if page.permalink == '/account/' %}
  	  <link rel="stylesheet" href="{{ '/assets/css/account.css' | relative_url }}">
  	{% endif %}
  	{% if page.permalink == '/checkout/' %}
  	  <link rel="stylesheet" href="{{ '/assets/css/checkout.css' | relative_url }}">
  	{% endif %}